@import './variables.css';

/* custom CSS reset  https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%; /*percentage-based heights because on mobile 100vh doesnt mean that*/
}

body {
  line-height: 1.5; /*according to WCAG criteria*/
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* MY STYLES - global */

body {
  --text-color: var(--dark-color);
  --bkg-color: var(--light-bg-color);
}

body.dark-theme {
  --text-color: var(--light-color);
  --bkg-color: var(--dark-bg-color);
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: var(--light-color);
    --bkg-color: var(--dark-bg-color);
  }

  body.light-theme {
    --text-color: var(--dark-color);
    --bkg-color: var(--light-bg-color);
  }
}

body {
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-family: var(--text-font);
  transition: all 0.5s ease;
  font-size: 0.8rem;
  font-weight: lighter;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

button {
  margin: 10px auto;
  padding: 10px;
  background-color: var(--bkg-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  width: 80%;
  transition: all 0.75s ease;
}

button:hover {
  background-color: var(--text-color);
  color: var(--bkg-color);
}

/* hero section */

.hero {
  min-height: 110%;
  position: relative;
  overflow: hidden;
}

.hero-container-l {
  position: absolute;
  width: calc(50% - 15px);
  height: 90%;
  top: 0%;
  right: 50%;
  border-left: 1px solid var(--text-color);
  transform: translateY(-100%);
  animation: slide-from-top 3s ease 2s forwards;
  opacity: 0.7;
}

.hero-container-r {
  position: absolute;
  width: calc(50% - 15px);
  height: 90%;
  top: 0%;
  left: 50%;
  border-right: 1px solid var(--text-color);
  transform: translateY(100%);
  animation: slide-from-bottom 3s ease 2s forwards;
  opacity: 0.7;
}

h1 {
  opacity: 0;
  text-align: center;
  font-size: 3.052rem;
  font-weight: normal;
  font-family: var(--decor-font);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  animation: appear 1s ease-in forwards;
  transition: all 0.5s ease;
}

.mode-container {
  opacity: 0;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: var(--bkg-color);
  padding: 5px 0 20px 0;
  z-index: 10;
  animation: appear 1s ease 1s forwards;
  transition: all 0.5s ease;
}

.mode-button {
  font: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.mode-button:hover {
  background: none;
  cursor: pointer;
}

.mode-button:hover .mode-img #extra{
  opacity: 0;
}

.mode-img {
  max-width: 60px;
  max-height: 60px;
  margin: 0 0 10px 0;
}

.mode-img #moon {
  fill: var(--dark-bg-color);
}

.mode-img #extra{
  opacity: 1;
  transform-origin: center;
  transition: all 0.5s ease;
}

.mode-img #extra.animate{
  opacity: 1;
  animation: 9s linear infinite spin;
}

.mode-button:hover .mode-img #extra.animate{
  animation-play-state: paused;
}

.mode-img #sun line,
.mode-img #extra line {
  stroke: var(--light-bg-color);
}

.mode-container span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 40px;
}

h2 {
  opacity: 0;
  font-size: inherit;
  font-weight: normal;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  line-height: 40px;
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
  background-color: var(--bkg-color);
  padding: 0 0 15px 0;
  animation: appear 1s ease 1s forwards;
  transition: all 0.5s ease;
}

@media (min-width: 700px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 5.052rem;
  }
  h2 {
    line-height: 60px;
  }
  .mode-container span {
    line-height: 60px;
  }
  .mode-img {
    max-width: 80px;
    max-height: 80px;
  }

  .hero-container-l,
  .hero-container-r {
    width: calc(50% - 25px);
  }
}

@media (min-width: 992px) {
  body {
    font-size: 1.25rem;
  }
}

/* main section */

main {
  min-height: 50%;
  position: relative;
  z-index: -1;
}

.mandala-preview {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mandala-preview div {
  position: absolute;
}

.mandala-preview div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  max-height: 100%;
}

.layer-element-2:nth-child(2n){
  z-index: -1;
}

.mandala-control {
  text-align: center;
  padding: 60px 0 0 0;
}

.middle-panel {
  margin: 10px auto;
  padding: 40px;
  width: 80%;
  border: 1px solid var(--text-color);
}

.layer-panel {
  margin: 10px auto;
  width: 80%;
  padding: 40px;
  border: 1px solid var(--text-color);
  position: relative;
}

.layer-panel button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  margin: 0;
  background-color: inherit;
  border: none;
  width: auto;
  transition: all 0.75s ease;
}

.layer-panel button:hover {
  transform: scale(1.2) rotate(10deg);
  color: var(--text-color);
}

h3 {
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
}

.mandala-control form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.layer-panel form {
  height: 100px;
}

.layer-panel input[type='range'] {
  width: 100%;
  margin: 0 20px;
  -webkit-appearance: none;
  height: 1px;
  color: var(--text-color);
}

.layer-panel input[type='range']::-webkit-slider-thumb {
  -webkit-appearance : none;
  background : var(--text-color);
  height : 15px;
  width : 15px;
  border-radius: 50%;
}

.sizes-fieldset {
  border: none;
  display: flex;
  padding: 0;
  align-items: center;
  position: relative;
  width: 40%;
}

.sizes-fieldset input {
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.sizes-fieldset svg {
  position: absolute;
}

.sizes-fieldset svg path {
  stroke: var(--text-color);
}

.sizes-fieldset input:nth-child(2),
.sizes-fieldset input:nth-child(2) + svg {
  left: 0;
  height: 18px;
  width: 18px;
}

.sizes-fieldset input:nth-child(5),
.sizes-fieldset input:nth-child(5) + svg {
  left: 50%;
  transform: translateX(-70%);
  height: 25px;
  width: 25px;
}

.sizes-fieldset input:nth-child(8),
.sizes-fieldset input:nth-child(8) + svg {
  right: 0;
  height: 32px;
  width: 32px;
}

.sizes-fieldset input:checked + svg {
  fill: var(--text-color);
}

.mandala-control form select {
  width: 50%;
  text-align: center;
  background-color: var(--bkg-color);
  color: inherit;
  font-size: inherit;
  padding: 5px;
  border: none;
  border-bottom: 1px solid var(--text-color);
}

@media (min-width: 700px) {
  .mandala-control {
    padding: 120px 0 0 0;
  }

  h3 {
    font-size: 1.25rem;
  }
  .mandala-control form select{
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  .mandala-control {
    flex: 0 0 50%;
  }

  .mandala-preview {
    min-height: 0;
    flex: 0 0 45%;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    margin: 130px 0 0 0;
  }
}

/* display section*/

.mandala-download {
  flex: 0 0 100%;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mandala-download h3 {
  margin-bottom: 20px;
  font-family: var(--decor-font);
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
}

/* footer */

footer {
  border-top: 1px solid var(--text-color);
  text-align: center;
  padding: 5px;
  font-size: 0.64rem;
}

@media (min-width: 700px){
  .mandala-download h3{
    font-size: 2rem;
  }

  footer{
    font-size: 0.8rem;
    opacity: 0.9;
  }
}

@media (min-width: 992px) {
  .mandala-download{
    padding: 200px 0 100px 0;
  }
  .mandala-download button {
    width: 40%;
  }
  footer{
    padding: 10px;
  }

}