@import './variables.css';

/* custom CSS reset  https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%; /*percentage-based heights because on mobile 100vh doesnt mean that*/
}

body {
  line-height: 1.5; /*according to WCAG criteria*/
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

/* improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* MY STYLES - global */

body {
  --text-color: var(--dark-color);
  --bkg-color: var(--light-bg-color);
}

body.dark-theme {
  --text-color: var(--light-color);
  --bkg-color: var(--dark-bg-color);
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: var(--light-color);
    --bkg-color: var(--dark-bg-color);
  }

  body.light-theme {
    --text-color: var(--dark-color);
    --bkg-color: var(--light-bg-color);
  }
}

body {
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-family: var(--text-font);
  transition: all 0.5s ease;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

/* hero section */

.hero {
  min-height: 110%;
  position: relative;
  overflow: hidden;
}

.hero-container-l {
  position: absolute;
  width: calc(50% - 15px);
  height: 90%;
  top: 0%;
  right: 50%;
  border-left: 1px solid var(--text-color);
  transform: translateY(-100%);
  animation: slide-from-top 3s ease 2s forwards;
  opacity: 0.7;
}

.hero-container-r {
  position: absolute;
  width: calc(50% - 15px);
  height: 90%;
  top: 0%;
  left: 50%;
  border-right: 1px solid var(--text-color);
  transform: translateY(100%);
  animation: slide-from-bottom 3s ease 2s forwards;
  opacity: 0.7;
}

h1 {
  opacity: 0;
  text-align: center;
  font-size: 55px;
  font-weight: normal;
  font-family: var(--decor-font);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  animation: appear 1s ease-in forwards;
  transition: all 0.5s ease;
}

.mode-container {
  opacity: 0;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: var(--bkg-color);
  padding: 5px 0 10px 0;
  z-index: 10;
  animation: appear 1s ease 1s forwards;
  transition: all 0.5s ease;
}

.mode-container button {
  font: inherit;
  border: none;
  background: inherit;
  padding: 0;
}

.mode-img {
  max-width: 40px;
  margin: 5px 10px 10px 0;
}

.mode-caption {
  font-family: 'Aqala Display', serif;
  font-weight: 200;
}

.mode-container span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 40px;
}

h2 {
  opacity: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  line-height: 40px;
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
  background-color: var(--bkg-color);
  padding: 10px 0;
  font-size: 16px;
  animation: appear 1s ease 1s forwards;
  transition: all 0.5s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* main section */

main {
  min-height: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.mandala-preview {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.mandala-preview div {
  position: absolute;
  border: 1px solid green;
}

/* .mandala-preview div:last-child{
    z-index: -1;
}
.mandala-preview div:first-child{
    z-index: 10;
} */

.mandala-preview div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  max-height: 100%;
}

/* .layer-element-1{
transition: all 1s ease ;
}

.layer-element-1:hover ~ .layer-element-1{
    background-color: blue;
} */

.mandala-control {
  text-align: center;
}

.middle-panel {
  padding: 20px;
  margin: 40px;
  border: 1px solid black;
  height: 160px;
}

.layer-panel {
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  height: 300px;
}

.mandala-control button {
  margin: 20px;
}

/* display section*/

.mandala-display {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;
}

.mandala-display .mode-container {
  margin: 0;
}

/* footer */

footer {
  background-color: grey;
  text-align: center;
  color: black;
}
